
.email li{
    margin: 4px;
    background-color: #fff5f5;
    width: 120px;
}

.listing_list{
    margin:auto;
    width:180px;
    padding: 15px;


}
.listable_delete{
    color: red;

}
.conns .listable_delete{
  display: none;
}

.delete_listing{
    position:absolute;
    right: -7px;
    top: -5px;
    height:22px;
    width: 22px;

    background-image: url('list_delete.png');
}
.phone{
    float:left;
}
.ext{
    float:left;
    width:60px;
}
.l {
    float:left;
    width: 400px;
}
input[type="submit"]{
background-color:#dedddd;
border-style:none;
}
.listing_list li{
    float:left;
    width:180px;

}
.username{
 font-size: medium;
 margin-left: 0px;
}
.listing{
    float:left;
    position: relative;
    width:550px;
    height: 250px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom:20px;
    //background-color: pink;
    background-image: url('card.png');
    background-repeat: repeat;
    box-shadow: 3px 3px 1px #888;
    clear:left;
}
.light_listing{
      background-image: url('card-light.png');

}
.listable{
    z-index:1;
    background-color: #fff7f4;
    height: 12px;
    padding: 2px;
    margin: 5px;
    display: inline-block;
}
.connections{
    margin-top:25px;
    float:left;
}
.card_name{
 float:left;
 width: 550px;
 margin: auto;
 padding-top: 30px;
 text-align: center;
 clear: both;
}
.listing_item{
    float: left;
}
#list_form{
    clear: both;
}
.user_name{
    margin-left: 25px;
    margin-top: 10px;
}

.phone_list .listable{
    float: left;
    padding-right: 10px;
        background-color: transparent;

}
.email_list .listable{
    float: left;
    padding-right: 10px;
        background-color: transparent;


}
.phone_list{
    clear: left;
}
.listables{
    position: absolute;
    bottom: 5px;
    left: 30px;

}

#toast{
    background-image: url('card-light.png');
    width:250px;
    height:30px;
    display:none;
    background-color: yellow;
    padding: 10px;
}