
.email li{
    margin: 4px;
    background-color: #fff5f5;
    width: 120px;
}

.listing_list{
    margin:auto;
    width:180px;
    padding: 15px;


}
.listable_delete{
    color: red;
}
.delete_listing{
    position:absolute;
    right: -7px;
    top: -5px;
    height:22px;
    width: 22px;

    background-image: url('list_delete.png');
}
.phone{
    float:left;
    width:60px;
}
.l {
    float:left;
    width: 400px;
}
input[type="submit"]{
background-color:#dedddd;
border-style:none;
}
.listing_list li{
    margin:auto;
    width:180px;

}
.listing:nth-child(4n+1){
    clear: left
}
.listing{
    float:left;
    position: relative;
    width:180px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom:20px;
    background-color: pink;
    box-shadow: 3px 3px 1px #888;
}
.light_listing{
     background-color: #ffdfe5;

}
.listable{
    z-index:1;
}
.connections{
    margin-top:25px;
    float:left;
}

#list_form{
    clear: both;
}
#toast{
    width:250px;
    height:30px;
    display:none;
    background-color: yellow;
    padding: 10px;
}